          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">¿Quieres hacernos un regalito?</h1>
                <p>Aquí hay una lista de lugares donde nos encantaría estar en nuestra luna de miel, además de algunas cosas que nos hacen falta para el departamento.</p>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div>
                  <ul>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/gitana.png" alt="Team Member">
                        <h3>Aporte para 6 noches en Hotel Gitana del Mar, Santa Marta<div class="precio">Costo total <i class="fa fa-usd"></i>1.082.688</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/ArDMT" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}img/regalos/sofa.png" alt="Team Member">
                        <h3>Aporte para sofa biseccional Austin grafito T108, The Popular Design<div class="precio">Costo total <i class="fa fa-usd"></i>990.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/a2N36" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/ecohabs.png" alt="Team Member">
                        <h3>Aporte para 3 noches en Ecohabs Tayrona, Santa Marta<div class="precio">Costo total <i class="fa fa-usd"></i>782.223</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/IMIDr" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/cartagena.png" alt="Team Member">
                        <h3>Aporte para los pasajes a Cartagena, Colombia<div class="precio">Costo total <i class="fa fa-usd"></i>462.814</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/Wudaj" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/casa-lola.png" alt="Team Member">
                        <h3>Aporte para 3 noches Hotel Casa Lola, Cartagena de Indias<div class="precio">Costo total <i class="fa fa-usd"></i>337.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/nq5mJ" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/majagua.png" alt="Team Member">
                        <h3>Aporte para 3 noches en Hotel San Pedro de Majagua, Islas del Rosario<div class="precio">Costo total <i class="fa fa-usd"></i>333.535</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/c2K6b" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/el-faro.png" alt="Team Member">
                        <h3>Aporte para 3 noches en Hotel Punta Faro, Isla Mucura<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <a href="http://kh.cm/WsNBi" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}img/regalos/mesa-centro.png" alt="Team Member">
                        <h3>Mesa de centro coigue Pewu<div class="precio"><i class="fa fa-usd"></i>195.000</div></h3>
                        <a href="http://kh.cm/DvE7H" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/alfombra.png" alt="Team Member">
                        <h3>Alfombra Nova Borde Black 160 x 230 cm Basement<div class="precio"><i class="fa fa-usd"></i>179.980</div></h3>
                        <a href="http://kh.cm/512Xn" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/arrimo.png" alt="Team Member">
                        <h3>Arrimo  en Lingue Pewu<div class="precio"><i class="fa fa-usd"></i>145.000</div></h3>
                        <a href="http://kh.cm/LI196" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/repisab.png" alt="Team Member">
                        <h3>Repisa B, Básico</h3>
                        <p><i class="fa fa-usd"></i>145.000</p>
                        <a href="http://kh.cm/gHCII" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}/img/regalos/parrilla.png" alt="Team Member">
                        <h3>Parrilla a gas 3 Quemadores, Mr Beef</h3>
                        <p><i class="fa fa-usd"></i>139.990</p>
                        <a href="http://kh.cm/hbiv1" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/puff.png" alt="Team Member">
                        <h3>Puff de lana, Urban Outfitters</h3>
                        <p><i class="fa fa-usd"></i>130.465</p>
                        <a href="http://kh.cm/oNomG" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/cubierta-mariposa.png" alt="Team Member">
                        <h3>Silla mariposa, Urban Outfitters</h3>
                        <p><i class="fa fa-usd"></i>106.039</p>
                        <a href="http://kh.cm/WCCSh" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/huanco.png" alt="Team Member">
                        <h3>Huanco Mapuche coigue, Pewu<div class="precio"><i class="fa fa-usd"></i>80.000</div></h3>
                        <a href="http://kh.cm/axFxM" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/piesera.png" alt="Team Member">
                        <h3>Piesera cama doble tejida telar lana 100% natural, Pewu<div class="precio"><i class="fa fa-usd"></i>78.000</div></h3>
                        <a href="http://kh.cm/JqG5S" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}img/regalos/escalera.png" alt="Team Member">
                        <h3>Escalera madera, Pewu<div class="precio"><i class="fa fa-usd"></i>68.000</div></h3>
                        <a href="http://kh.cm/UOCJk" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/troncos.png" alt="Team Member">
                        <h3>Troncos mesita coigue, Pewu<div class="precio"><i class="fa fa-usd"></i>65.000</div></h3>
                        <a href="http://kh.cm/h4HA0" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/telar.png" alt="Team Member">
                        <h3>Telar mural lana natural triangular, Pewu<div class="precio"><i class="fa fa-usd"></i>55.000</div></h3>
                        <a href="http://kh.cm/aCWDj" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/rio5.png" alt="Team Member">
                        <h3>Colgador de piedra Rio5, Básico</h3>
                        <p><i class="fa fa-usd"></i>48.000</p>
                        <a href="http://kh.cm/pnSXZ" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}/img/regalos/repisaa.png" alt="Team Member">
                        <h3>Repisa A, Básico</h3>
                        <p><i class="fa fa-usd"></i>48.000</p>
                        <a href="http://kh.cm/ZkpDU" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/multimixer.png" alt="Team Member">
                        <h3>Multimixer TH-8730I, Thomas</h3>
                        <p><i class="fa fa-usd"></i>36.990</p>
                        <a href="http://kh.cm/DxuxU" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/rio3.png" alt="Team Member">
                        <h3>Colgador de piedra Rio3, Básico</h3>
                        <p><i class="fa fa-usd"></i>36.000</p>
                        <a href="http://kh.cm/M3QZF" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}/img/regalos/canasto.png" alt="Team Member">
                        <h3>Canasto Trenzado 2 Colores, Casa&Ideas</h3>
                        <p><i class="fa fa-usd"></i>26.990</p>
                        <a href="http://kh.cm/eA6Fh" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/perchero-lingue.png" alt="Team Member">
                        <h3>Perchero de lingue, Pewu<div class="precio"><i class="fa fa-usd"></i>25.000</div></h3>
                        <a href="http://kh.cm/vBlBQ" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/cortina.png" alt="Team Member">
                        <h3>Cortina Catamarca Barra, Casa&Ideas</h3>
                        <p><i class="fa fa-usd"></i>19.990</p>
                        <a href="http://kh.cm/5KkVS" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}/img/regalos/alcusa.png" alt="Team Member">
                        <h3>Set 2 Botellas Para Aceite O Vinagre, Depto51</h3>
                        <p><i class="fa fa-usd"></i>18.990</p>
                        <a href="http://kh.cm/512Xn" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/copas.png" alt="Team Member">
                        <h3>Set De 2 Copas Champagne Spectra Azul, Depto51</h3>
                        <p><i class="fa fa-usd"></i>18.990</p>
                        <a href="http://kh.cm/Ee7cW" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}/img/regalos/copa-champagne.png" alt="Team Member">
                        <h3>Set De 2 Copas Spectra Azul, Depto51</h3>
                        <p><i class="fa fa-usd"></i>18.990</p>
                        <a href="http://kh.cm/u13Xw" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}/img/regalos/cuchillos.png" alt="Team Member">
                        <h3>Set De 3 Cuchillos Pelar Y Cortar, Kuhn Rikon</h3>
                        <p><i class="fa fa-usd"></i>17.490</p>
                        <a href="http://kh.cm/ZO8oC" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}img/regalos/buda.png" alt="Team Member">
                        <h3>Plato de Mantequilla Buddha, Singular<div class="precio"><i class="fa fa-usd"></i>15.300</div></h3>
                        <a href="http://kh.cm/6Zb3r" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="{{ site.baseurl }}img/regalos/batidora.png" alt="Team Member">
                        <h3>Batidora Manual TH-8830M, Thomas<div class="precio"><i class="fa fa-usd"></i>12.990</div></h3>
                        <a href="http://kh.cm/OCi6V" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/rodelas-madera.png" alt="Team Member">
                        <h3>Rodelas de madera 2-3 cm espesor, Pewu<div class="precio"><i class="fa fa-usd"></i>7.500</div></h3>
                        <a href="http://kh.cm/hH8Gl" class="btn" target="_blank">Pago en línea <i class="fa fa-gift"></i></a><a href="#section-contacto" class="btn">Transferencia <i class="fa fa-gift"></i></a>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>