          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">¿Quieres hacernos un regalito?</h1>
                <p>Nuestro sueño es irnos a conocer toda la costa caribeña de Colombia y abajo listamos los lugares donde nos gustaría estar por si nos quieren hacer un aporte.</p>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div id="teamSlider">
                  <ul class="slides">
                    <li>
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/cartagena.png" alt="Team Member">
                        <h3>Aporte para los pasajes a Cartagena<div class="precio">Costo total <i class="fa fa-usd"></i>462.814</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>Pasajes Santiago - Cartagena de Indias.</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>
                      
                      <div class="col-md-4 wp5">
                        <img src="{{ site.baseurl }}/img/regalos/casa-lola.png" alt="Team Member">
                        <h3>3 noches Hotel Casa Lola<div class="precio">Costo total <i class="fa fa-usd"></i>337.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>Cartagena de Indias</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/gitana.png" alt="Team Member">
                        <h3>6 noches en Hotel Gitana del Mar<div class="precio">Costo total <i class="fa fa-usd"></i>1.082.688</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>Santa Marta</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>
                    </li>
                    <li>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/ecohabs.png" alt="Team Member">
                        <h3>3 noches en Ecohabs Tayrona<div class="precio">Costo total <i class="fa fa-usd"></i>782.223</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>Santa Marta</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/el-faro.png" alt="Team Member">
                        <h3>3 noches en Hotel Punta Faro<div class="precio">Costo total <i class="fa fa-usd"></i>315.760</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>Isla Mucura, Colombia.</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/majagua.png" alt="Team Member">
                        <h3>3 noches en Hotel San Pedro de Majagua<div class="precio">Costo total <i class="fa fa-usd"></i>333.535</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>Islas del Rosario, Colombia</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>
                      
                    </li>
                    <li>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/sofa.png" alt="Team Member">
                        <h3>Sofa biseccional Austin grafito T108<div class="precio">Costo total <i class="fa fa-usd"></i>990.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>The Popular Design</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/alfombra.png" alt="Team Member">
                        <h3>Alfombra Nova Borde Black 160 x 230 cm Basement<div class="precio"><i class="fa fa-usd"></i>179.980</div></h3>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/buda.png" alt="Team Member">
                        <h3>Plato de Mantequilla Buddha, Singular<div class="precio"><i class="fa fa-usd"></i>15.300</div></h3>
                        </div>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>
                      
                    </li>
                    <li>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/sofa.png" alt="Team Member">
                        <h3>Perchero de roca Río 5 Básico<div class="precio">Costo total <i class="fa fa-usd"></i>990.000</div></h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                          </div>
                        </div>
                        <p>The Popular Design</p>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/alfombra.png" alt="Team Member">
                        <h3>Alfombra Nova Borde Black 160 x 230 cm Basement<div class="precio"><i class="fa fa-usd"></i>179.980</div></h3>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>

                      <div class="col-md-4 wp5 delay-1s">
                        <img src="{{ site.baseurl }}img/regalos/buda.png" alt="Team Member">
                        <h3>Plato de Mantequilla Buddha, Singular<div class="precio"><i class="fa fa-usd"></i>15.300</div></h3>
                        </div>
                        <a href="#" class="btn">Pago en línea <i class="fa fa-gift"></i></i></a><a href="#" class="btn">Transferencia <i class="fa fa-gift"></i></i></a>
                      </div>
                      
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
